<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Any Site | {% block title %}Default Page{% end %} </title>

    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.css">


    <link rel="stylesheet" href="/static/css/custom.css">

</head>
<body>


    </div>
    <ratched-events></ratched-events>

    <header>


    </header>


    <main>{% block body %} {% end %}</main>


</body>
</html>
